# Authors

This is where your explain when the hackathon started, and finished, for the hackathons purpose, and list all team members who contributed to it.

## Hackathon technical leads:

### John Foo - @github_id - <github_email>

> .

### John Foo - @github_id - <github_email>

> 

## Collaborators | Members:
- John Foo - @github_id - <github_email>
- Bar Doe - @github_id - <github_email>

<sup><ins>All other contributors and their affiliations<ins></sup>:

## Contributors | Externals:

John Foo - position - City (Country)
Bar Doe - position - City (Country)

# Special thanks to

> Have fun here =] (optional item)